#indexheader{
    width: 100%;
    height: 100px;
}
#headertext{
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#loginbutton{
    position:absolute;
    right: 5%;
    top: 4%;
    float: left;
}
#loginwrapper{
   width: 300px;
   height: 300px;
   border: 1px solid #000;
   margin-right: auto;
   margin-left: auto;
}
#adduserform{
    width: 300px;
    height: auto;
    float: left;
}
#adduserbutton{
    position:absolute;
    right: 5%;
    top: 6%;  
}
.adduserinput{
    width: 250px;
    margin-top: 10px;
}
.adduserradio{
    margin-top: 10px;
}
#sidebar{
    min-width: 300px;
    min-height: 600px;
    border-left: 1px solid #000;
    float: left;
    margin-left: 100px;
}
#sidebarheadline{
    text-align: center;
}
#userlist{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.previewusercontainer{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    background-color: #ccc;
    position: absolute;
    top: 105px;
    left: 10px;
}
